/* Position and sizing of burger button */
.bm-burger-button {
    width: 40px;
    height: 30px;
    position: relative;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--main-color);
    height: 10% !important;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: var(--white-color);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: var(--darkPurple-color);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: unset !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: var(--darkPurple-color);
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  .bm-item-list a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 26px;
    margin: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .menuIcon path{
    stroke: #bbbbbb;
}
.menuIcon {
    margin-right: 10px;
    align-self: center;
}
/* From uiverse.io by @nikk7007 */
.customBtn {
    margin-top: 20px;
    color: var(--white-color);
    padding: 1em 1.7em;
    background-color: black;
    width: 100%;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
    outline: none;
    border: none;
    height: 80px;
    align-items:center;
    border-radius:10px;
    justify-content:center;
    display:flex;
    font-family: viga;
}
.iosBtn{
    background: transparent;
    border: 1px solid var(--white-color);
}
   
.customBtn::before, .customBtn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--main-color);
    transition: 1s ease;
}   
.customBtn::before {
    top: -2em;
    left: -2em;
}
   
.customBtn::after {
    left: calc(100% + 2em);
    top: calc(100% + 2em);
}
   
.customBtn:hover::before, .customBtn:hover::after {
    height: 410px;
    width: 410px;
}
   
.customBtn:hover {
    color: rgb(10, 25, 30);
}
   
.customBtn:active {
    filter: brightness(.8);
}
   